<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acckeep">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="AccKeep"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Add_new"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Edit_Program"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.CreatePassword"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Search"></activity>
        <activity android:name=".Activities.MainActivity"></activity>
        <activity android:name=".Activities.Settings"></activity>
    </application>

</manifest>