<?xml version="1.0" encoding="UTF-8"?>
    <manifest package="com.example.acckeep"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:supportsRtl="true"
        android:label="Secure Account Manager"
        android:allowBackup="true">
    <activity
        android:parentActivityName=".MainActivity"
        android:name=".Add_new"/>
    <activity
        android:parentActivityName=".MainActivity"
        android:name=".Edit_Program"/>
    <activity
        android:parentActivityName=".MainActivity"
        android:name=".CreatePassword"/>
    <activity android:name=".Login"
        android:exported="true">
    <intent-filter>
    <action
        android:name="android.intent.action.MAIN"/>
    <category
        android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
    </activity>
    <activity
        android:name=".Search">
    </activity>
    <activity
        android:name=".MainActivity">
    </activity>
    </application>
</manifest>