<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acckeep">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="AccKeep"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".functionality.Add_new"
            android:parentActivityName=".customlist.MainActivity" />
        <activity
            android:name=".functionality.Edit_Program"
            android:parentActivityName=".customlist.MainActivity" />
        <activity
            android:name=".functionality.CreatePassword"
            android:parentActivityName=".customlist.MainActivity" />
        <activity
            android:name=".functionality.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".functionality.Search"></activity>
        <activity android:name=".customlist.MainActivity"></activity>
        <activity android:name=".functionality.Settings"></activity>
    </application>

</manifest>